
  .alerta-error {
    background-color: white;
    color: red;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto";
  } 

  .mensaje-error {
    color: red;
  }